body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #2c3e50;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
<<<<<<< HEAD

=======
>>>>>>> a6fb282b6d52bc7f62350b996990061cac10dc11
nav ul li {
    display: inline;
    margin: 15px;
}
<<<<<<< HEAD

=======
>>>>>>> a6fb282b6d52bc7f62350b996990061cac10dc11
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
<<<<<<< HEAD

=======
>>>>>>> a6fb282b6d52bc7f62350b996990061cac10dc11
nav a:hover {
    color: #f1c40f;
}
main {
    width: 80%;
    margin: auto;
    padding: 20px;
}
article {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
ol,
ul {
    padding-left: 25px;
}
aside {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
}
a {
    transition: 0.3s;
}
<<<<<<< HEAD


=======
>>>>>>> a6fb282b6d52bc7f62350b996990061cac10dc11
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
<<<<<<< HEAD
}
=======
}
>>>>>>> a6fb282b6d52bc7f62350b996990061cac10dc11
